:root {
    --background: #656176;
    --primary: #f8f1ff;
    --secondary: #decdf5;
    --highlight: #1b998b;
    --dark: #534d56;
}

body {
    background-color: var(--background);
}

h1 {
    color: var(--secondary);
}

p {
    color: var(--primary);
}

img {
    border: 2px solid var(--highlight);
}