:root {
    --background: #656176;
    --primary: #f8f1ff;
    --secondary: #decdf5;
    --highlight: #1b998b;
    --dark: #534d56;
}

body {
    background-color: var(--background);
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.image {
    margin-right: 20px;
    border-right: 2px solid var(--highlight);
}

h1 {
    color: var(--secondary);
}

p {
    color: var(--primary);
}