:root {
    --background: #656176;
    --primary: #f8f1ff;
    --secondary: #decdf5;
    --highlight: #1b998b;
    --dark: #534d56;
}

body {
    background-color: var(--background);
}

#title {
    display: flex;
    flex-direction: row;
    background-color: var(--dark);
    margin-bottom: 15px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 10px; 
  display: inline; 
  color: var(--secondary);
}

li:hover {
    color: var(--highlight);
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.image {
    margin-right: 20px;
    border-right: 2px solid var(--highlight);
}

h1 {
    color: var(--secondary);
}

p {
    color: var(--primary);
    text-align: center;
}

#about-us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}